body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;

    a {
        text-decoration: none;
    }

    p {margin-left: auto;}
    
    header {
        background-color: #111;
        padding: 20px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 19px;
    }
}

.cyberpunk-nav {
    display: flex;
    justify-content: space-between;

    .logo, .origin {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
}

$primary-color: #ff0000;
$text-color: #ffffff;

.cyberpunk-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: $text-color;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;   
}

#red1:hover  {color: #730000; background-color: #FFCCCB;}
#red2:hover  {color: #690000; background-color: #FFB6B6;}
#red3:hover  {color: #5F0000; background-color: #FFA0A0;}
#red4:hover  {color: #550000; background-color: #FF8A8A;}
#red5:hover  {color: #4B0000; background-color: #FF7474;}
#red6:hover  {color: #410000; background-color: #FF5E5E;}
#red7:hover  {color: #370000; background-color: #FF4848;}
#red8:hover  {color: #2D0000; background-color: #FF3232;}
#red9:hover  {color: #230000; background-color: #FF1C1C;}
#red10:hover {color: #190000; background-color: #FF0606;}
#red11:hover {color: #0F0000; background-color: #FF0000;}
#red12:hover {color: #050000; background-color: #F50000;}
#red13:hover {color: #000000; background-color: #EB0000;}
#red14:hover {color: #050000; background-color: #E10000;}
#red15:hover {color: #0F0000; background-color: #D70000;}
#red16:hover {color: #190000; background-color: #CD0000;}
#red17:hover {color: #230000; background-color: #C30000;}
#red18:hover {color: #2D0000; background-color: #B90000;}
#red19:hover {color: #370000; background-color: #AF0000;}
#red20:hover {color: #410000; background-color: #A50000;}
#red21:hover {color: #4B0000; background-color: #9B0000;}
#red22:hover {color: #550000; background-color: #910000;}
#red23:hover {color: #5F0000; background-color: #870000;}
#red24:hover {color: #690000; background-color: #7D0000;}
#red25:hover {color: #730000; background-color: #730000;}
#red26:hover {color: #7D0000; background-color: #690000;}
#red27:hover {color: #870000; background-color: #5F0000;}
#red28:hover {color: #910000; background-color: #550000;}
#red29:hover {color: #9B0000; background-color: #4B0000;}
#red30:hover {color: #A50000; background-color: #410000;}
#red31:hover {color: #AF0000; background-color: #370000;}
#red32:hover {color: #B90000; background-color: #2D0000;}
#red33:hover {color: #C30000; background-color: #230000;}
#red34:hover {color: #CD0000; background-color: #190000;}
#red35:hover {color: #D70000; background-color: #0F0000;}
#red36:hover {color: #E10000; background-color: #050000;}
#red37:hover {color: #EB0000; background-color: #000000;}
#red38:hover {color: #F50000; background-color: #050000;}
#red39:hover {color: #FF0000; background-color: #0F0000;}
#red40:hover {color: #FF0606; background-color: #190000;}
#red41:hover {color: #FF1C1C; background-color: #230000;}
#red42:hover {color: #FF3232; background-color: #2D0000;}
#red43:hover {color: #FF4848; background-color: #370000;}
#red44:hover {color: #FF5E5E; background-color: #410000;}
#red45:hover {color: #FF7474; background-color: #4B0000;}
#red46:hover {color: #FF8A8A; background-color: #550000;}
#red47:hover {color: #FFA0A0; background-color: #5F0000;}
#red48:hover {color: #FFB6B6; background-color: #690000;}
#red49:hover {color: #FFCCCB; background-color: #730000;}