body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;

    a {
        text-decoration: none;
    }

    p {margin-left: auto;}
    
    header {
        background-color: #111;
        padding: 20px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 19px;
    }
}

.cyberpunk-nav {
    display: flex;
    justify-content: space-between;

    .logo, .origin {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
}

$primary-color: #00ff00;
$text-color: black;

.cyberpunk-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    color: $text-color;
    background-color: $primary-color;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;   
}

#green1:hover  {color: #D0FFC8; background-color: #002400;}
#green2:hover  {color: #BEFFB2; background-color: #003800;}
#green3:hover  {color: #ABFF9C; background-color: #004C00;}
#green4:hover  {color: #98FF86; background-color: #006000;}
#green5:hover  {color: #86FF70; background-color: #078200;}
#green6:hover  {color: #73FF5A; background-color: #0EA500;}
#green7:hover  {color: #60FF44; background-color: #14C800;}
#green8:hover  {color: #4DFF2E; background-color: #1BEB00;}
#green9:hover  {color: #3BFF18; background-color: #28FF02;}
#green10:hover {color: #28FF02; background-color: #3BFF18;}
#green11:hover {color: #1BEB00; background-color: #4DFF2E;}
#green12:hover {color: #14C800; background-color: #60FF44;}
#green13:hover {color: #0EA500; background-color: #73FF5A;}
#green14:hover {color: #078200; background-color: #86FF70;}
#green15:hover {color: #006000; background-color: #98FF86;}
#green16:hover {color: #004C00; background-color: #ABFF9C;}
#green17:hover {color: #003800; background-color: #BEFFB2;}
#green18:hover {color: #002400; background-color: #D0FFC8;}