body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #111;

    a {
        text-decoration: none;
    }
    
    header {
        background-color: #111;
        padding: 20px;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        margin-bottom: 19px;
    }
}

.cyberpunk-nav {
    display: flex;
    justify-content: space-between;

    .logo, .origin {
        color: #ffffff;
        font-size: 24px;
        font-weight: bold;
    }
}

.cyberpunk-grid div {
    background-color: #111;
    color: #fff;
    padding: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    height: 50px;
    display: flex;
    align-items: center;

    p {margin-left: auto;}
}

#northAmerica:hover {background-color: #0000ff;}
#southAmerica:hover {background-color: #00ff00; color: black;}
#europe:hover {background-color: #ff0000;}
#antartica:hover {background-color: #ffffff;color: black;}
#asia:hover {background-color: #ffff00;color: black;}
#oceania:hover {background-color: #00ffff;color: black;}
#africa:hover {background-color: #ff5f1f;}